$body-color: slateblue;

body {
  color: $body-color;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  background: #333;
}

canvas {
  margin: auto;
}

.lcd-screen {
  position: absolute;
  left: calc(50% - 280px);
}

.info {
  background: rgb(33, 33, 33);
  color: white;
  position: absolute;
  left: 10%;
  top: 10%;
  padding: 1em;
  border-radius: 30%;
}
